main {
  background-color: black;
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #fff;
}
h2{
  color: #fff;
}

div.area {
  height: 400px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

.formfield * {
    vertical-align: middle;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.game-critic-form {
    align-content: space-between;
}

  img {
    border-radius: 8px;
    width: 350px; 
    height: 350px;
    object-fit: cover;
    box-shadow: 10px 10px rgb(14, 0, 0);
  }


  button {
    font-size: .65em;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;
  }

  button:hover {
    color: red;
    background: rgb(14, 0, 0);
    box-shadow: 0 0 10px red, 0 0 40px red,0 0 80px red;
    transition-delay: 0.5s;
  }

  body {
    background-color: black;
  }

  div.comments {
    height: 200px;
    width: auto;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: white;
    background: black;
    margin: 20px auto;
    padding: 20px;
    background-origin: padding-box;
  }
  div.container {
    height: 200px;
    width: auto;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: white;
    background: black;
    margin: 20px auto;
    padding: 20px;
    background-origin: padding-box;
  }



  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  

